@model IEnumerable<caner.Models.ogrenci>

@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soyisim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adres)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.OgrenciNo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soyisim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.OgrenciNo)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id}) |
            @Html.ActionLink("Details", "Details", new {id=item.id}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>